* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

.flex {
  display: flex;
}

.left-section {
  width: 371px;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 32px 26px;
}

.right-section {
  height: 100vh;
  width: 1596px;
  background-color: #f3f2f1;
}

.left-section section {
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  border: solid 0.5px;
  border-color: #d4dae4;
  border-radius: 6px;
  padding: 16px 10px;
}
