@font-face {
  font-family: "CarnokyType Zin Display Condensed";
  src: url("fonts/CarnokyType - Zin Display Condensed Demo.otf")
    format("opentype");
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

.flex {
  display: flex;
}

.left-section {
  width: 371px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 32px 26px;
}

.right-section {
  height: 100vh;
  width: 1596px;
  background-color: #f3f2f1;
}

.user-section {
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  border: solid 0.5px;
  border-color: #d4dae4;
  border-radius: 6px;
  padding: 16px 10px;
}

.user-section h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.user-section p {
  font-size: 12px;
  color: #626d82;
  font-weight: 400;
}

.left-section .options {
  display: flex;
  align-items: center;
  padding: 16px 18px;
  border-radius: 6px;
}

.left-section .options img {
  width: 24px;
}

.left-section .options p {
  padding-left: 20px;
  size: 16px;
  color: #626d82;
}

.left-section button {
  font-size: 12px;
  border-radius: 5px;
  background-color: #1f4451;
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  border: none;
  margin-top: 5px;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

footer h1 {
  color: #1f4451;
  font-size: 24px;
  font-weight: 500;
}

footer p {
  font-size: 16px;
  color: #626d82;
  font-weight: 400;
}

nav {
  align-items: center;
  gap: 20px;
}

nav p {
  font-size: 16px;
}

header h1 {
  font-weight: 300;
  height: 10px;
  color: #2a2a2a;
  letter-spacing: 0.5px;
  font-family: "CarnokyType Zin Display Condensed", sans-serif;
}

.right-section {
  padding: 30px 100px;
}

input::placeholder {
  color: #b5bdcd;
}

.search {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: white;
  border: solid #b5bdcd 0.5px;
  border-radius: 5px;
}

.search input {
  flex: 1;
  border: none;
  font-size: 16px;
  outline: none;
  color: #626d82;
}

.search img {
  width: 16.65px;
}

.documents {
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.documents input[type="checkbox"] {
  width: 17px;
  height: 17px;
  accent-color: #626d82;
}

.documents th {
  color: #2a2a2a;
  font-size: 16px;
}

.documents th,
.documents td {
  padding: 12px 16px;
  border-bottom: 1px solid #e8ecf1;
  text-align: left;
  vertical-align: middle;
}

.doc-name {
  font-weight: 600;
  font-size: 16px;
  color: #436d7c;
}

.badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
}

.sign-now {
  display: flex;
  align-items: center;
  gap: 18px;
}

.sign-now button {
  font-size: 14px;
  width: 160px;
  font-weight: 400;
  color: #626d82;
  border: 1px solid #b5bdcd;
  border-radius: 5px;
  background: #fff;
  padding: 8px 20px;
  margin-top: 8px;
}

.sign-now img {
  width: 4px;
  margin-top: 8px;
}

.needs-signing {
  background: #436d7c;
  color: #fff;
}

.pending {
  background: #e8ecf1;
  color: #626d82;
}

.completed {
  background: #d3f7b5;
  color: #1f4451;
}
