@font-face {
  font-family: "CarnokyType Zin Display Condensed";
  src: url("fonts/CarnokyType - Zin Display Condensed Demo.otf") format("opentype");
}

@font-face {
  font-family: "CarnokyType Zin Display";
  src: url("fonts/CarnokyType - Zin Display Demo.otf") format("opentype");
}

@font-face {
  font-family: "CarnokyType Zin Display Extended";
  src: url("fonts/CarnokyType - Zin Display Extended Demo.otf") format("opentype");
}


* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

.flex {
  display: flex;
}

.left-section {
  width: 371px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 32px 26px;
}

.right-section {
  height: 100vh;
  width: 1596px;
  background-color: #f3f2f1;
}

.user-section {
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  border: solid 0.5px;
  border-color: #d4dae4;
  border-radius: 6px;
  padding: 16px 10px;
}

.left-section .options {
  display: flex;
  align-items: center;
  padding: 16px 18px;
  border-radius: 6px;
}

.left-section .options img {
  width: 24px;
}

.left-section .options p {
  padding-left: 20px;
  size: 16px;
  color: #626d82;
}

.left-section button {
  font-size: 12px;
  border-radius: 5px;
  background-color: #1f4451;
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  border: none;
  margin-top: 5px;
}

.right-section {
  padding: 30px 80px;
}

input::placeholder {
  color: #b5bdcd;
}

.search {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: white;
  border: solid #b5bdcd 0.5px;
  border-radius: 5px;
}

.search input {
  flex: 1;
  border: none;
  font-size: 16px;
  outline: none;
  color: #626d82;
}

.search img {
  width: 16.65px;
}

